*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main{
	height: 100%;
	width:100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.logos-box{
/*    background: lightgrey;*/
	height: 300px;
	width:300px;
   
    margin: 10px 10px;
}

img{
	height: 80%;
	width:100%;
    background: #f9f9f9;
     padding: 15px;
	object-fit:scale-down;
    margin-bottom: 10px;
}

#categories-letters,
#industry-select{
	margin: 14px 0px;
}

#industry-select{
	cursor: pointer;
}

#categories-letters{
/*	background: blue;*/
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#categories-letters>button{
	padding: 6px;
	font-size: 17px;
	background: none;
	border: none;
	cursor: pointer;
}

#logos-container{
/*	background: pink;*/
	width:100%;
	min-height: 50vh; 
	padding:15px;
	
	
}



#logos-filter{
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 40px 20px;
	justify-content: space-evenly;
}

